*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: #0f172a;
    background-image: radial-gradient(rgba(255,255,255,0.05) 1px, transparent 1px);
    background-size: 20px 20px;
    padding-top: 130px;
}
/* Header */
.header{
    background-color: #1e293b;
    padding: 30px;
    display: flex;
    font-family: "Courier New", monospace;
    color: rgb(235, 234, 234);
    font-size: 20px;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(34, 211, 238, 0.4);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.whats{
    text-decoration: none;
    color: rgb(235, 234, 234);
    font-size: 12px;
    margin-left: auto;
}
.whats:hover{
    color: rgb(105, 104, 104);
}
.insta{
    text-decoration: none;
    color: rgb(235, 234, 234);
    font-size: 12px;
    margin-left: 4px;
}
.insta:hover{
    color: rgb(105, 104, 104);
}
.dontKnow{
    color: rgb(235, 234, 234);
    font-size: 12px;
}
/* All links */
.alllinks{
    font-family: "Courier New", monospace;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.alllinks a{
    text-decoration: none;
    color: rgb(235, 234, 234);
}
.alllinks a:hover{
    color: rgb(105, 104, 104);
}
/* Projects */
.landingpage{
    max-width: 700px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px rgba(34, 211, 238, 0.4);
    margin-top: 30px;
    padding: 30px;
    border-radius: 15px;
    font-family: Verdana, sans-serif;
    background-color: #1e293b;
}
.lalalanding{
    width: 100%;
    height: 50vh;
    border-radius: 15px;
    box-shadow: 0px 0px 13px black;
}
.landingpageimg{
    max-width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.landingpagetitle{
    display: flex;
    justify-content: center;
    color: rgb(235, 234, 234);
}
.landingpagetitle a{
    text-decoration: none;
    color: white;
}
.landingpagetxt{
    color: rgb(235, 234, 234);
    max-width: 500px;
}
/* Baseboard */
.baseboard{
    display: flex;
    align-items: center;
    background-color: #1e293b;
    color: rgb(235, 234, 234);
    padding: 30px;
    font-family: "Courier New", monospace;
    margin-top: 50px;
}
.baseboardtitle{
    font-size: 20px;
}
.baseboard p{
    max-width: 400px;
}
.baseboardlinks{
    max-width: 200px;
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    flex: 1;
}
.baseboardlinks .whats{
    background-color: #25D366;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
    text-shadow: 0px 0px 10px black;
}
.baseboardlinks .insta{
    background-color: #E1306C;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
    text-shadow: 0px 0px 10px black;
}