body{
    margin: 0px;
    background-color: #0f172a;
    background-image: radial-gradient(rgba(255,255,255,0.05) 1px, transparent 1px);
    background-size: 20px 20px;
    padding-top: 130px;
}
/* Header */
.header{
    background-color: #1e293b;
    padding: 30px;
    display: flex;
    align-items: center;
    font-family: "Courier New", monospace;
    box-shadow: 0px 0px 8px rgba(34, 211, 238, 0.4);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header p{
    color: rgb(235, 234, 234);
    font-size: 20px;
}
.whats{
    text-decoration: none;
    color: rgb(235, 234, 234);
    font-size: 12px;
    margin-left: auto;
}
.insta{
    text-decoration: none;
    color: rgb(235, 234, 234);
    font-size: 12px;
    margin-left: 4px;
}
/* All links */
.alllinks{
    font-family: "Courier New", monospace;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
}
.alllinks .project{
    text-decoration: none;
    color: rgb(235, 234, 234);
}
.alllinks .linkaboutme{
    text-decoration: none;
    color: rgb(235, 234, 234);
}
/* Who I am? */
.whoiam{
    background-color: #1e293b;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(34, 211, 238, 0.4);
    font-family: Verdana, sans-serif;
}
.titlewhoi{
    display: flex;
    justify-content: center;
}
.whoiam h2{
    color: rgb(235, 234, 234);
}
.whoiam img{
    height: auto;
    width: 200px;
    margin-bottom: 50px;
}
.imgwhoi{
    display: flex;
    justify-content: center;
}
.txtwhoi{
    display: flex;
    justify-content: center;
    color: rgb(235, 234, 234);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
/* More about me */
.moreaboutme{
    background-color: #1e293b;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(34, 211, 238, 0.4);
    font-family: Verdana, sans-serif;
}
.titleabout{
    display: flex;
    justify-content: center;
}
.titleabout h2{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(235, 234, 234);
}
.imgaboutme{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.imgaboutme img{
    height: auto;
    max-width: 250px;
}
.txtabout{
    display: flex;
    justify-content: center;
    color: rgb(235, 234, 234);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
/* Baseboard */
.baseboard{
    display: flex;
    align-items: center;
    background-color: #1e293b;
    color: rgb(235, 234, 234);
    padding: 30px;
    font-family: "Courier New", monospace;
}
.baseboardtitle{
    font-size: 20px;
}
.baseboard p{
    max-width: 400px;
}
.baseboardlinks{
    max-width: 200px;
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    flex: 1;
}
.baseboardlinks .whats{
    background-color: #25D366;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
    text-shadow: 0px 0px 10px black;
}
.baseboardlinks .insta{
    background-color: #E1306C;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
    text-shadow: 0px 0px 10px black;
}